<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>	
	<meta charset="utf-8">
	<title>Framework Template</title>
	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<!-- this layout has a container with 4 rows: 1 for header, 1 for 'hero' image, 1 for content, 1 for footer -->
	<div class="container">
		<div class="row">
			<div class="col-4">
			  <h1>Hey, world!</h1>
			</div>
			<nav class="col-8">
				<ul>
					<li><a href="#">Never give up</a></li>
					<li><a href="#">Special cloth alert</a></li>
					<li><a href="#">We breathing</a>
						<!-- nested list for dropdown -->
						<ul>
							<li><a href="#">Special cloth alert</a></li>
							<li><a href="#">Bless up</a></li>
							<li><a href="#">Lee</a></li>
						</ul>
					</li>
					<li><a href="#">Squeaky clean</a></li>
				</ul>
			</nav>
		</div>
		<div class="row">
			<div class="col-12">
			  <img src="https://unsplash.it/1500/300/?random" alt="placeholder" class="hero">
			</div>
		</div>
		<main class="row">
			<!-- 1 column for avatar -->
			<div class="col-1">
				<img src="https://unsplash.it/200?random" alt="Placeholder image" class="avi">
			</div>
			<!-- 3 columns for paragraph -->
			<div class="col-3">
				<p>It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. The key to more success is to have a lot of pillows. To succeed you must believe. When you believe, you will succeed. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key.</p>
			</div>

			<div class="col-1">
				<img src="https://unsplash.it/200?random" alt="Placeholder image" class="avi">
			</div>
			<div class="col-3">
				<p>Wraith talk. They never said winning was easy. Some people can’t handle success, I can. Life is what you make it, so let’s make it. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Give thanks to the most high. They don’t want us to win. The key to more success is to get a massage once a week, very important, major key, cloth talk.</p>
			</div>

			<div class="col-1">
				<img src="https://unsplash.it/200?random" alt="Placeholder image" class="avi">
			</div>
			<div class="col-3">
				<p>The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. To succeed you must believe. When you believe, you will succeed. They don’t want us to win. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. Cloth talk. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Special cloth alert.</p>
			</div>
		</main>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6"></div>
		</div>
	</div>
</body>
</html>